<!-- Include preload links here -->
<!-- {% if site.logo %} -->
<!--   <div class="subsection brand"> -->
<!--     <img src="{{ site.logo }}" class="logo" style="width: 10vw;" "min-width: 10px;"> -->
<!--   </div> -->
<!-- {% endif %} -->
	<nav>
	     <ul>
			 <li><a href="/">Home</a></li>
			 <li><a href="/publications">Publications</a></li>
			 <li><a href="/talks">Talks</a></li>
			 <!-- <li><a href="/events">Events</a></li> -->
			 <li><a href="/tools">Tools</a></li>
			 <li><a href="/case_studies">Case Studies</a></li>
			 <li><a href="/milestones">Milestones</a></li>
			 <li><a href="/consortium">Consortium</a></li>
			 <li><a href="/people">People</a></li>
	     </ul>
	</nav>
